@charset "utf-8";
.cart td, .checkout td, .p_history td, .wishlist td, .request td, .profile td{
	text-align:center;
	}
	
.main{
	vertical-align:top;}
	
#btncheckout,#btnconfirm{
	margin:10px;
}

#btnremove, #btnRequest, #btnChange{
	background-color:blue;
	color:white;
	width:200px;
	height:50px;}
	
textarea{
	width:200px;
	height:100px;}
	
a{
	color:blue;}

